<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ToDo App</title>
</head>
<body style="background-color: #293541;">
    <ul class="nav">
        <li class="nav-item"><a href="About" class="nav-link">About</a></li>
        <li class="nav-item"><a href="Contact" class="nav-link">Contact</a></li>
    </ul>
    <!----Body----->
    <h1 style="text-align: center; color: rgb(210, 30, 30);">To-Do</h1>
    <div align="center">
        <div style="background-color:#2ea3ad; margin-top: 3%; width:600px; border-radius: 30px;">
            <h2>My Workers List!</h2>


            <!----Add Task! -->
            <form action="/create" method="POST">
                <input type="text" name="Name" placeholder="Name"> <input type="text" name="ID" placeholder="ID">
                <button type="Submit" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg></button>
            </form><br><!----End Of Add Task! -->


            <!---View Tasks!-->
            <% if(todotasks.length > 0){ %>
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <% todotasks.forEach(tasks=> {%>
                            <% if(tasks._id==idTask){ %><!---Edit Tasks-->
                                <li class="list-group-item"><!---Edit Tasks-->
                                    <form action="/update/<%=tasks._id%>?_method=PUT" method="POST"><!--Edit Tasks-->
                                        <p style="text-align: left;">Name: <input style="float: right;" style="align-items:right;" type="text"
                                                value="<%=tasks.Name%>" name="Name"> </p><!--Edit Tasks-->
                                        <p style="text-align: left;">ID: <input style="float: right;" type="text" value="<%=tasks.ID%>"
                                                name="ID"></p><!--Edit Tasks-->
                                        <br>

                                        <button type="submit" class="btn btn-primary"><!--Apply Changes-->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path
                                                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                            </svg></button><!--End Of Apply Changes-->
                                        <!--Cancel Changes-->
                                        <a style="text-decoration: none;" href="/" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path
                                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                            </svg></a><!--End of Cancel Changes-->
                                    </form><!---Edit Tasks-->
                                </li>
                                <% } else { %><!---Edit Tasks-->
                                    <li class="list-group-item">
                                        <p style="text-align: left;">Name: <%= tasks.Name %>
                                        </p>
                                        <p style="text-align: left;">ID: <%= tasks.ID %>
                                        </p>
                                        <a style="text-decoration: none;" href="update/<%=tasks._id%>"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                            </svg></a>
                                        <!--Delete Task-->
                                        <a stylel="text-decoration:none;"
                                            href="/delete/<%=tasks._id%>?_method=delete"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg></a>
                                    </li>
                                    <% } %><!---End Of Edit Tasks-->
                                        <% }) %>
                    </ul>
                </div><br><!---End Of View Tasks!-->
                <% } %>
        </div>
    </div>
</body>

</html>